aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.13.3
blinker==1.9.0
cachelib==0.13.0
cachetools==5.5.2
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
contourpy==1.3.2
cssselect2==0.7.0
cycler==0.12.1
defusedxml==0.7.1
discord==2.3.2
discord.py==2.4.0
distlib==0.4.0
Django==5.1.3
dnspython==2.7.0
email_validator==2.2.0
fastapi==0.115.12
fastapi-cli==0.0.7
filelock==3.19.1
Flask==3.1.0
Flask-Cors==5.0.0
Flask-Session==0.8.0
fonttools==4.57.0
frozenlist==1.5.0
geojson==3.2.0
geopandas==1.1.1
google-auth==2.38.0
google-genai==1.7.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.6
httptools==0.6.4
httpx==0.28.1
idna==3.10
ipadic==1.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.5.1
kiwisolver==1.4.8
libpysal==4.13.0
lxml==5.3.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
mecab==0.996.11
msgspec==0.19.0
multidict==6.1.0
notion-client==2.2.1
numpy==2.2.5
orjson==3.10.18
outcome==1.3.0.post0
packaging==25.0
pandas==2.2.3
pillow==11.2.1
pipenv==2025.0.4
platformdirs==4.3.8
prompt_toolkit==3.0.51
propcache==0.2.0
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic-extra-types==2.10.4
pydantic-settings==2.9.1
pydantic_core==2.27.2
Pygments==2.19.1
pyogrio==0.11.1
pyparsing==3.2.3
pyperclip==1.9.0
pyproj==3.7.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
radian==0.6.15
rchitect==0.4.8
requests==2.32.3
rich==14.0.0
rich-toolkit==0.14.6
rsa==4.9
scikit-learn==1.7.1
scipy==1.16.1
selenium==4.31.0
setuptools==80.9.0
shapely==2.0.6
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.1
starlette==0.46.2
threadpoolctl==3.6.0
tinycss2==1.4.0
trio==0.30.0
trio-websocket==0.12.2
typer==0.15.3
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
ujson==5.10.0
urllib3==2.4.0
uvicorn==0.34.0
uvloop==0.21.0
virtualenv==20.34.0
watchfiles==1.0.4
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wordcloud==1.9.4
wsproto==1.2.0
yarl==1.16.0
yt-dlp==2025.1.26
